body {
    height: 100vh;
    margin: 0 auto;
}

.container {
    background-color: #f5fcff;
    background-image: url(img/grass.png), url(img/cloud.png), url(img/deer.png), url(img/sun.png);
    background-repeat: repeat-x, repeat-x, no-repeat, no-repeat;
    background-position: bottom, 0px 50px, center bottom, right top;
    background-size: auto 150px, auto 200px, auto 400px, auto;
    position: relative;
}
